{% extends "member/member.html" %}
{% load staticfiles %}

{% block title %}
<title>Nouveau message</title>
{% endblock title %}

{% block css %}
{{ block.super}}
<link rel="stylesheet" href="{% static "member/messages.css" %}">
{% endblock css %}

{% block script %}
{% endblock script %}

{% block content %}
<div class="container_12 clearfix">
    <div class="panel panel-default" style="padding-top: 20px">
		<form enctype="multipart/form-data" action="/member/messages/new_message/" method="POST">{% csrf_token %}
	        <div class="modal-body">
		        <div class="form-group text-left">
		        	<label class="label-message" style="margin-right: 10px">Destinataire</label><b>{{ to }}</b>
                    <input type="hidden" id="id_receiver" name="id_receiver" value="{{ to }}"/>
		        </div>
		        <div class="form-group text-left">
		            <label class="label-message" style="margin-bottom:10px">Votre message</label>
					{{ newMessageForm.content }}
					{{ newMessageForm.content.errors }}
		        </div>
        	</div>
	       <div class="row" style="margin-bottom: 20px">
				<div class="col-md-3 col-md-offset-9">
					<button class="btn btn-white" type="submit" name="cancel">Retour</button>
					<button class="btn btn-white" type="submit" name="save">Envoyer</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}

