{% extends "member/member.html" %}
{% load staticfiles %}

{% block content %}
<div class="container_12 clearfix start-project">
    <div class="panel panel-default" style="padding-top: 20px">
		<form class="form" enctype="multipart/form-data" action="/member/password_change/" method="POST">{% csrf_token %}
			{% if success == True %}
			<div class="row-item clearfix">
				<p id="success_msg">{{ success_message }}</p>
			</div>
			{% endif %}

			<div class="row-item clearfix">
                <div class="col-md-4 text-right">
                    <label class="label-profile">Ancien mot de passe</label><span class="mandatory-field">*</span>
                </div>
            	
                <div class="col-md-8 text-left">
					{{ PasswordForm.old_password }}
                    <div class="col-md-8 text-center">
						{{ PasswordForm.old_password.errors }}
                    </div>
                </div>
            </div>

			<div class="row-item clearfix">
                <div class="col-md-4 text-right">
                    <label class="label-profile">Nouveau mot de passe</label><span class="mandatory-field">*</span>
                </div>
            	
                <div class="col-md-8 text-left">
					{{ PasswordForm.new_password1 }}
                    <div class="col-md-8 text-center">
						{{ PasswordForm.new_password1.errors }}
                    </div>
                </div>
            </div>
            
            <div class="row-item clearfix">
                <div class="col-md-4 text-right">
                    <label class="label-profile">Mot de passe vérification</label><span class="mandatory-field">*</span>
                </div>
            	
                <div class="col-md-8 text-left">
					{{ PasswordForm.new_password2 }}
                    <div class="col-md-8 text-center">
						{{ PasswordForm.new_password2.errors }}
                    </div>
                </div>
            </div>

			<div class="row-item clearfix">
				<button class="btn btn-white" type="submit" name="cancel">Retour</button>
				<button class="btn btn-white" type="submit" name="save">Sauvegarder</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
