<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    {% extends "base/index.html" %}
    <title>Maintenance en cours</title>
</head>
<body>
{% block content %}
    <div class="main_content">
        <h1>En construction...</h1>
        <hr>
        <div>
            <img src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-5/256/maintenance-icon.png" style="align-content: center; padding-bottom: 40px;"></img>
            <p>Nous sommes désolés, Idril est toujours en cours de construction.</p>
        </div>
    </div>

{% endblock %}
</body>
</html>