{% autoescape off %}
Bonjour,

Vous avez demandé de changer votre mot de passe pour accéder à votre compte Idril.

Cliquez sur lien suivant pour créer le nouveau mot de passe :
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}
{% endblock reset_link %}
Si vous ne souhaitez pas changer votre mot de passe ou si vous n'avez pas envoyé cette demande, merci d'ignorer ce message.

Votre nom d'utilisateur : {{ user.username }}

Merci !

{{ site_name }} team.

{% endautoescape %}