<!doctype html>
{% extends "base/index.html" %}
{% load staticfiles %}

{% block title %}
<title>Récupereration mot de passe</title>
{% endblock title %}

{% block css %}
{{ block.super}}
<link rel="stylesheet" href="{% static "member/forms.css" %}">
{% endblock css %}

{% block content %}
<div class="container_12 clearfix">
    <div class="panel panel-default" style="padding-top: 20px">
        <div class="row-item clearfix">
            <p>Vous avez oublié votre mot de passe ?<br>
            Insérez l'adresse e-mail utilisé lors de l'inscription et vous recevrez un e-mail contenant un lien pour modifier votre mot de passe.</p>
        </div>
        <form class="form" action="" method="post">
            <div style="display:none">
                <input class="input_field" type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>

            <div class="row-item clearfix">
                <div class="col-md-4 text-right">
                    <label class="label-profile">Adresse e-mail</label><span class="mandatory-field">*</span>
                </div>
              
                <div class="col-md-8 text-left">
                  {{ form.email }}
                    <div class="col-md-8 text-center">
                      {{ form.email.errors }}
                    </div>
                </div>
            </div>

           	<div class="row-item clearfix">
           	  <button class="btn btn-white" type="submit" value="">Réinitialiser mot de passe</button>
           	</div>
        </form>
    </div>
</div>
{% endblock content %}