<!doctype html>
{% extends "base/index.html" %}
{% load staticfiles %}

{% block title %}
<title>Nouveau mot de passe</title>
{% endblock title %}

{% block css %}
{{ block.super}}
<link rel="stylesheet" href="{% static "member/forms.css" %}">
{% endblock css %}

{% block content %}
<div class="container_12 clearfix">
    <div class="panel panel-default" style="padding-top: 20px">
    {% if validlink %}
    <div class="row-item clearfix">
        <h3>Entrez votre nouveau mot de passe.</h3>
    </div>
    <form class="form" action="" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>

        <div class="row-item clearfix">
            <div class="col-md-4 text-right">
                <label class="label-profile">Nouveau mot de passe</label><span class="mandatory-field">*</span>
            </div>
            
            <div class="col-md-8 text-left">
                {{ form.new_password1 }}
                <div class="col-md-8 text-center">
                    {{ form.new_password1.errors }}
                </div>
            </div>
        </div>        

        <div class="row-item clearfix">
            <div class="col-md-4 text-right">
                <label class="label-profile">Mot de passe vérification</label><span class="mandatory-field">*</span>
            </div>
            
            <div class="col-md-8 text-left">
                {{ form.new_password2 }}
                <div class="col-md-8 text-center">
                    {{ form.new_password2.errors }}
                </div>
            </div>
        </div>
        
        <div class="row-item clearfix">
            <button class="btn btn-white" type="submit" name="save">Changer de mot de passe</button>
        </div>
    </form>
    {% else %}
        <h2>Impossible de reinitialiser votre mot de passe</h2>
        <p>Le lien est invalide.</p>
    {% endif %}
    </div>
</div>
{% endblock content %}