{% load staticfiles %}
{% load sekizai_tags %}

<div class="container_12 main-footer">
    <div class="grid_3 about-us">
        <h3 class="rs title">À propos</h3>

        <p class="rs description">Idril est un projet de financement participatif à vocation humanitaire.
        Le principe est tel que n’importe quelle personne ou association peut présenter un projet à vocation humanitaire</p>
        <p class="rs email"><a class="fc-default  be-fc-orange"
                               href="mailto:idril_eip@gmail.com">idril_eip@gmail.com</a></p>

        <!--<p class="rs">+1 (555) 555 - 55 - 55</p>-->
    </div>
    <!--end: .contact-info -->
   <!--
    <div class="grid_3 recent-tweets">
        <h3 class="rs title">Récent Tweets</h3>

        <div class="lst-tweets" id="sys_lst_tweets">

        </div>
    </div>-->
    <!--end: .recent-tweets -->
    <div class="clear clear-2col"></div>
    <div class="grid_3 email-newsletter">
        <h3 class="rs title">Newsletter</h3>

        <div class="inner">
            <p class="rs description">La newsletter d'Idril vous informe chaque mois de l’actualité des projets humanitaires dans le monde entier.
            </p>


            <form action="#">
                <div class="form form-email">
                    <label class="lbl" for="txt-email">
                        <input id="txt-email" type="text" class="txt fill-width"
                               placeholder="Adresse e-mail"/>
                    </label>
                    <button class="btn btn-green" type="submit">Souscrire</button>
                </div>
            </form>
        </div>
    </div>
    <!--end: .email-newsletter -->
    <div class="grid_3">
        <h3 class="rs title">Découvrir &amp; Créer</h3>

        <div class="footer-menu">
            <ul class="rs">
                <li><a class="be-fc-orange" href="http://www.idril.fr">Idril</a></li>
                <li><a class="be-fc-orange" href="/project/">Découvrir</a></li>
            </ul>
            <ul class="rs">
                <li><a class="be-fc-orange" href="/member/register/">S'inscrire</a></li>
                <li><a class="be-fc-orange" href="/forum/">Forum</a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
        <!--end: .different-link -->
        <div class="grid_3">
        <h3 class="rs title">Nous sommes Social !</h3>

        <div class="footer-menu">
                <a href="https://www.facebook.com/IdrilEIP" target="_blank"><img src="http://icons.iconarchive.com/icons/danleech/simple/48/facebook-icon.png"></a>
                <a href="https://twitter.com/Idril_EIP" target="_blank"><img src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Web-Twitter-alt-2-Metro-icon.png"></a>
                <!--<a href="#"><img src="http://icons.iconarchive.com/icons/designbolts/free-instagram/48/Active-Instagram-1-icon.png"></a>-->

            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="copyright">
    <div class="container_12">
        <div class="grid_12">
            <a class="logo-footer" href="index.html"><img style="width: 90px; height: 50px;" src="{% static 'base/logo.png' %}" alt="$SITE_NAME"/></a>
            <p class="rs ta-c fc-gray-dark site-copyright">
                Designed by <b>Idril</b>
            </p>
        </div>
        <div class="clear"></div>
    </div>
</div>
