<!DOCTYPE html>
<html>
<head>
    {% extends "base/index.html" %}
    <title>Paiements</title>
    <style>
        th, td { padding: 5px; }
        table { border-collapse: separate; border-spacing: 15px; }
        table { border-collapse: collapse; border-spacing: 0; }
        th, td { vertical-align: top; }
        table { margin: 0 auto; }
    </style>
</head>
<body>
{% block content %}
    <h1>Mes paiements</h1>

    <div class="container">
    <div class="row">
        <div class="col-md-4">
        <form class="navbar-form navbar-left" role="search"  method="get">
            <div class="form-group">
             <input type="text" class="form-control" name="s" placeholder="Search" value="{{ s }}">
             </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </div>
        <div class="col-md-4 col-md-offset-2">
             <div class="btn-group" style="padding-top: 10px;padding-bottom: 30px">
                <button type="submit" name="order_by" {% if order_by == 'payment_asc' %}  autofocus="yes" {% endif %} value="payment_asc" class="btn btn-default">Date ASC</button>
                <button type="submit" name="order_by" {% if order_by == 'payment_desc' %}  autofocus="yes" {% endif %} value="payment_desc" class="btn btn-default">Date DESC</button>
             </div>
        </div>
    </div>
    </div>
    </form>
    <table style="border-collapse: collapse; margin: 0 auto;padding-top: 10px;" class="table table-condensed">
   <thead>
      <tr>
         <th>Projet</th>
         <th>Login</th>
         <th>Date de paiement</th>
         <th>Status du paiement</th>
         <th>Prix</th>
      </tr>
   </thead>
   <tbody>
          {% csrf_token %}
          {% if all_entries %}
            {% for entry in all_entries %}
           <tr>
                <td>{{ entry.project.title }}</td>
                <td>{{ entry.user.username }}</td>
                <td>{{ entry.payment_date|date:"d/m/Y" }} {{ entry.payment_date|time:"H:i:s" }}</td>
                <td>{{ entry.payment_status }}</td>
                <td>{{ entry.price }} € </td>
           </tr>
            {% endfor %}
        {% endif %}
   </tbody>
</table>
{% endblock %}
</body>
</html>